body{
  background: #EE9CA7 ;
  background: linear-gradient(90deg, #EE9CA7 0%, #feb0b9 43%, #FFDDE1 100%);
  font-family: 'montserrat';
}

.container-task{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-task h1{
  text-align: center;
}
.tasks{
  width: 30%;
}
.card-task{
  display: flex;
  justify-content: space-between;
}
.card-task p{
  margin: 0;
}
.container-button{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container-button button{
  background-color: #FFDDE1;
}
.container-button button:hover{
  background-color: #EE9CA7;
}